<!-- views/components/footer.ejs -->
<div class="container mx-auto px-4 py-4 text-center">
    <p class="text-sm text-gray-400">© 2024 CanvaSkins. Todos los derechos Mojang AB.</p>
</div>
</body>
</html>
